@import url('https://static.querencia.in/fonts/font-awesome-pro-6.2.0/css/all.min.css');

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --color-background: 250, 250, 251;
  --color-foreground: 38, 38, 38;
  --color-background-dark: 25, 25, 25;
  --color-foreground-dark: 255, 255, 255;
}

body {
  font-family: var(--font-public-sans);
}
