@import url('https://kit.fontawesome.com/b5dc24240f.css');

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --color-background: 250, 250, 251;
  --color-foreground: 38, 38, 38;
  --color-background-dark: 25, 25, 25;
  --color-foreground-dark: 255, 255, 255;
}

body {
  font-family: var(--font-public-sans);
}

.fa-mug-hot {
  --fa-primary-color: #f59e0b;
  --fa-secondary-color: #b45309;
  --fa-secondary-opacity: 0.6;
}

.dark .fa-mug-hot {
  --fa-primary-color: #f59e0b;
  --fa-secondary-color: white;
}
