@import '@/assets/fonts/font-awesome/css/all.min.css';

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --color-background: 250, 250, 251;
  --color-foreground: 38, 38, 38;
  --color-background-dark: 25, 25, 25;
  --color-foreground-dark: 255, 255, 255;
}

body {
  font-family: var(--font-public-sans);
}

.fa-mug-hot {
  --fa-primary-color: #f59e0b;
  --fa-secondary-color: #b45309;
  --fa-secondary-opacity: 0.6;
}

.dark .fa-mug-hot {
  --fa-primary-color: #f59e0b;
  --fa-secondary-color: white;
}

.ace-devease-theme {
  @apply text-base rounded-md outline outline-1 outline-gray-300 dark:outline-zinc-700 h-full;
  font-family: var(--font-roboto-mono);
}
.ace-devease-theme .ace_gutter {
  @apply bg-zinc-50 dark:bg-neutral-600 text-foreground dark:text-foregroundDark;
}
.ace-devease-theme.ace_editor {
  @apply bg-white dark:bg-neutral-700 leading-normal text-foreground dark:text-foregroundDark;
}
.ace-devease-theme.ace_focus {
  @apply outline-2 outline-emerald-500;
}
.ace-devease-theme .ace_scroller {
  @apply bg-white dark:bg-neutral-700;
}
.ace-devease-theme .ace_text-layer {
  @apply text-foreground dark:text-foregroundDark;
}
.ace-devease-theme .ace_variable {
  @apply text-foreground dark:text-foregroundDark;
}
.ace-devease-theme .ace_cursor {
  @apply border-l border-zinc-900 dark:border-zinc-300;
}
.ace-devease-theme .ace_overwrite-cursors .ace_cursor {
  @apply border-l-0 border-b border-zinc-900 dark:border-zinc-300;
}
.ace-devease-theme .ace_marker-layer .ace_bracket {
  @apply border border-zinc-300 dark:border-zinc-500;
}
.ace-devease-theme .ace_marker-layer .ace_active-line {
  background: transparent;
}
.ace-devease-theme .ace_gutter-active-line {
  @apply bg-zinc-200 dark:bg-zinc-800;
}
.ace-devease-theme .ace_invisible {
  @apply text-zinc-400 dark:text-zinc-600;
}
.ace-devease-theme .ace_constant.ace_language {
  @apply text-blue-600 dark:text-blue-300;
}
.ace-devease-theme .ace_constant.ace_numeric {
  @apply text-cyan-600 dark:text-cyan-300;
}
.ace-devease-theme .ace_fold {
  @apply bg-slate-200 dark:bg-slate-800;
}
.ace-devease-theme .ace_string {
  @apply text-emerald-600 dark:text-emerald-300;
}
.ace-devease-theme .ace_comment {
  @apply text-zinc-400 dark:text-zinc-400;
}
.ace-devease-theme .ace_markup.ace_underline {
  @apply underline;
}
.ace-devease-theme .ace_indent-guide {
  @apply border-r border-r-slate-100 dark:border-r-zinc-600;
  background: none;
}
.ace-devease-theme .ace_keyword {
  @apply text-violet-600 dark:text-violet-300;
}

.ace-devease-theme .ace_marker-layer .ace_selection {
  @apply bg-zinc-200 dark:bg-zinc-800;
}
